<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>deleting</title>
    <link type="text/css" rel="stylesheet" th:href="@{/css/table.css}">
</head>
<body>
    <table class="table">
        <form th:action="@{/delete/dvd}" method="post" th:object="${dvd}">

            <tr>
                <td>
                    название диска
                </td>
                <td>
                    <input type="text" th:field="*{title}" >
                </td>
            </tr>
            <tr>
                <td>

                </td>
                <td>
                    <input type="submit">
                </td>
            </tr>
        </form>
    </table>

</form>
</body>
</html>
